@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
969A97  gray
D6D1CD  whitish
406E00  green
181F1C  blackish
*/
.input {
  min-height: 50px;
  width: 600px;
  padding: 0 1rem;
  color: #000;
  font-size: 15px;
  border: 1px solid #406e00;
  border-radius: 6px 0 0 6px;
}

.button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #406e00;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: #181f1c;
}

.input:focus,
.input:focus-visible {
  border-color: #181f1c;
  outline: none;
}

.menuItem {
  display: flex;
  flex-direction: row;
}
